
.header {
    margin-top: 2em;
    
    h1 {
        font-size: 1.2em;
        color: #000;
        letter-spacing: 0.3em;
        font-weight: normal;
    }

    h2 {
        font-size: 0.8em;
        color: #000;
        opacity: .7;
        font-weight: normal;
    }
}